{% for model in domain_models %}# py-conf-meta-inf: {"file_name": "{{helpers.to_kebab_case(model.name)}}/{{helpers.to_kebab_case(model.name)}}-update/{{helpers.to_kebab_case(model.name)}}-update.component.html"}
 <div class="row">
        <h1 *ngIf="selected?.id">{{ model.name }} Update</h1>
        <h1 *ngIf="!selected?.id">{{ model.name }} Create</h1>
</div>
<div class="card" *ngIf="formGroup">
    <div class="card-content">
        <span *ngIf="selected?.id" class="card-title">Id: {{ '{{ selected?.id }}' }}</span>
        <span *ngIf="!selected?.id" class="card-title">New</span>


        <div class="row">
            <form [formGroup]="formGroup" class="col s12">
                {% for field in model.fields %}
                {% if field.data_type.value == 'str' %}
                <app-form-input-text
                    label="{{ field.name }}"
                    [control]="formGroup.get('{{ field.name }}')"></app-form-input-text>
                {% elif field.data_type.value == 'int' %}
                <app-form-input-number
                        label="{{ field.name }}"
                        [control]="formGroup.get('{{ field.name }}')"></app-form-input-number>
                {% elif field.data_type.value == 'float' %}
                <app-form-input-number
                        label="{{ field.name }}"
                        type="float"
                        [control]="formGroup.get('{{ field.name }}')"></app-form-input-number>
                {% elif field.data_type.value == 'bool' %}
                <app-form-input-boolean
                        label="{{ field.name }}"
                        [control]="formGroup.get('{{ field.name }}')"></app-form-input-boolean>
                {% elif field.data_type.value == 'date' %}
                <app-form-input-date
                    label="{{ field.name }}"
                    [control]="formGroup.get('{{ field.name }}')"></app-form-input-date>
                {% elif field.data_type.value == 'datetime' %}
                <app-form-input-date-time
                    label="{{ field.name }}"
                    [control]="formGroup.get('{{ field.name }}')"></app-form-input-date-time>
                {% endif %}
                {% endfor %}
                {% for relation in model.relations %}
                <app-form-input-autocomplete
                    label="{{ relation.name }}"
                    [control]="formGroup.get('{{ relation.name }}_id')"
                    [searchFunction]="{{ relation.name }}SearchFunction"
                    [displayFn]="{{ relation.name }}DisplayFunction"></app-form-input-autocomplete>
                {% endfor %}
            </form>
        </div>


    </div>
    <div class="card-action center">
        <button
            style="margin-right: 3em;"
            (click)="back()"
            class="waves-effect waves-light btn-floating">
            <i class="material-icons left grey">arrow_back</i>back
        </button>
        <button
            (click)="save()"
            [disabled]="formGroup.invalid"
            class="waves-effect waves-light btn-floating">
            <i class="material-icons left">save</i>delete
        </button>
    </div>
</div>
{% endfor %}